section {
    padding-top: 20px;
    padding-bottom: 50px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px !important;	
}

.fa-4x{
	font-size:2em !important;
}

.carousel img{
	height: 200px !important;
	width: 200px !important;
	min-width: 0% !important;
}

blockquote p{
	font-size: 14px !important;
	font-family: 'Raleway', sans-serif !important;
	font-style: italic;	
}

.mission-section p{
	font-family: 'Raleway', sans-serif !important;	
	font-size: 16px !important;
}

h4{
	font-family: 'Raleway', sans-serif !important;	
	font-size: 25px !important;
	font-weight: bold !important;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: -45px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #FE980F;
  border: none;
  padding-top:20px;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

hr.border1{
    margin: 0px !important;
}

.mission-section{
    background-color: #f7f7f7;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Raleway', sans-serif !important;	
	padding: 25px 50px;
   
}

.inner-mission>p{
    font-size: 15px !important;
}


.mission-offer p{
    font-size:15px !important;
    font-family: 'Raleway', sans-serif !important;	
    color: #33383b;
}

.fa-truck, .fa-clock-o, .fa-thumbs-up{
    font-size: 35px !important;
    background-color:  #33383b;
	color: #ffffff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 7px 15px;
    padding-top: 22px;
	vertical-align: middle;
}

.fa-truck:hover,.fa-clock-o:hover, .fa-thumbs-up:hover {
    background-color: #FE980F;
}
