html,body,h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif !important;
}

.container{
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px !important;
	color: #000!important;
	font-weight: 300 !important;
}
form{
	padding-top: 0px !important;
	padding-left: 20px !important;
}

.update-info{
	padding-right: 50 px !important;
}

hr{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.table>tbody>tr>th, .table>tbody>tr>td{
	border-bottom: 1px dotted #ddd !important;
	border-top: none !important;
	font-size: 14px !important;
}

.all-final{
	margin-bottom: 0px !important;
	padding-top: 30px !important;
}

th{
	 vertical-align: middle !important; 
}

.table>tbody>tr{
	padding-top: 10px !important;
}

.page-title{
	margin-left: 20px;
}

h2{
	font-size: 17px !important;
}

h3{
	font-size: 16px !important;
}

h4{
	color: #FE980F !important;
	font-style: italic !important;
	font-size: 16px !important;	
}

h5{
	font-size: 16px !important;
}

.btn-r0:hover{
	background-color: #FE980F !important;
	color:white !important;
	border: 1px solid #FE980F !important;
}

.form-control{
	border-radius: 0px !important;
}

/* images*/
ol, ul {
  list-style: none;
}

/*
 * BOOTSTRAP
 */
 
 .afix-1{
 	color: black;
 }
 
.container-fluid{
    border: none;
}

.btn{
    border-radius: 0px !important;
}
.btn-sm, .btn-group-sm > .btn{
    border-radius: 0px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
    border-radius: 1px;
}


hr {
    border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.btn-link {
    color: #888;
}

hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 989px){
    .span1{
        margin-bottom: 15px;
        clear:both;
    }
}

@media only screen and (max-width: 764px){
    .inverse-1{
        float:right;
    }
}

@media only screen and (max-width: 586px){
    .cart-titles{
        display:none;
    }
    .panel {
        margin-bottom: 1px;
    }
}

.form-control {
    border-radius: 1px;
}

@media only screen and (max-width: 486px){
    .col-xss-12{
        width:100%;
    }
    .cart-img-show{
        display: none;
    }
    .btn-submit-fix{
        width:100%;
    }
    
}
/*
@media only screen and (max-width: 777px){
    .container{
        overflow-x: hidden;
    }
}*/