html,body,h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif !important;
}

<<<<<<< HEAD
h4{
	color: #FE980F !important;
	font-style: italic !important;
	
=======
h6{
	font-size: 13px !important;
>>>>>>> branch 'master' of https://github.com/Crowe93/Books-R-Us-THE-FINAL-REPO.git
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.cart-table p{
	font-family: 'Raleway', sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
}

.cart-table tr{
	font-size: 16px !important;
}

.cart-table h5{
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px !important;
}

.cart-table h4{
	font-size: 17px !important;
}

.input-group .form-control{
	width:140% !important;
}

th{
	font-size: 20px;
}

.table{
	margin-bottom: -18px !important;
}

.btn{
	font-size: 14px !important;
}

.btn-default{
	color: #6e6e6e!important;
}

.btn-r0{
	border-radius: 0px !important;
}

<<<<<<< HEAD
.btn-c{
	background-color: #FE980F !important;
	color: white !important;
=======
.btn-r0:hover{
	background-color: #FE980F !important;
	color:white !important;
	border: 1px solid #FE980F !important;
}

.panel{
	margin-top: 20px !important;
	border-radius: 0px !important;
}

.panel-body>p{
	font-size: 16px !important;
}

.random{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-size: 20px !important;
}

.input-group{
	width: 80%;
}

.col-sm-10{
	width: 80% !important;
>>>>>>> branch 'master' of https://github.com/Crowe93/Books-R-Us-THE-FINAL-REPO.git
}

.form-control{
	border-radius: 0px !important;
}

.total-price>p{
	font-size: 14px !important;
}

.total-price, .random{
	cursor: default !important;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
		
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}