.profile-body{
	 background-color: #f9f9f9!important;
	 padding-top: 20px;
}


.profile-body h3, .profile-body h4{
	font-family: 'Josefin Slab', serif !important;
	font-size: 20px !important;
	color: #939393!important;
	font-weight: 300 !important;
}

.welcome{
	font-family: 'Josefin Slab', serif !important;
	font-size: 25px !important;
}

.profile-body p{
	font-family: 'Josefin Slab', serif !important;
	font-size: 18px;
}

.edit{
	text-align: right;
}

.edit-image{
	font-size: 13px;
	font-family: 'Josefin Slab', serif !important;
	color: #909090!important;
	font-style: italic;
	padding-bottom: 15px;
}

.label{
	width:10px;
}

hr{
	margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.btn{
	background-color: #292c2f !important;
	font-size: 14px !important;
	color: #fff !important;
}

a{
	font-family: 'Josefin Slab', serif !important;
	font-size: 20px;
}

.item{
	padding-left: 30px;
}

.item>p{
	line-height: 80%;
}

.item-detail>p{
	font-size: 16px;
}

.book-icon{
	width: 110px !important;	
}

.col-md-1{
	width: 5px !important;
}

.each-item{
	padding-bottom: 10px;
}


