.profile-body{
	 padding-top: 20px;
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif !important
}

.btn-group{
	margin-right: 20px;
	margin-bottom: 10px;
}

.btn.btn-primary{
	background-color: #fe980f !important;
	color:white !important;
	border: 1px solid #fe980f !important;
}

.info{	
	border: 1px solid #e5e5e5;
	margin-top: 15px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px #c0c0c0;
}

hr{
	width: 60%;	
	margin-top: 10px !important;
    margin-bottom: 10px !important;
}

button[disabled],html input[disabled]{
	cursor: default !important;
}

.profile-body h2, .profile-body h4, .profile-body h3{
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;	
	font-weight: 300 !important;
}

.label{
	width:10px;
}

.date>a{
	font-size: 15px !important;
	font-family: 'Raleway', sans-serif !important;
	color: #333;
}

.date>a:hover{
	text-decoration: none;
	color: black;
}

.date>a:onclick{
	text-decoration: none;
	color: black;
}

.btn{
	border-radius: 0px !important;
}
.btn-default{
	color: black !important;
}

h5{
	font-size: 15px !important;
	font-style: normal !important;
	color: #000 !important;
}




